/*
.button-bar {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    .select-options-button, 
    .go-to-parent-button,
    .folder-info-button {
    padding:0;
    margin:0;
    width: 33%;
    max-width: 33%       
    }
}
*/